// main colors
$color-primary: #21B2C8;
$color-primary-dark: #916AAB;
$color-primary-pale: #E6D8EF;
$color-secondary: #1FB1C6;
$color-white: #fff;
$color-grey: #B5B9BF;
// txt dark
$color-text: #6D6D6D;
$color-text-dark: #3B3939;
$color-text-grey: #707070;
// bg 
$color-bg-grey: #f9f9f9;
$color-bg-light-grey: #f6f6f6;
$color-bg-dark-grey: #ACACAC;
$body-bg: rgba(#BEBEBE, .05);

//grediants 
$grediant-primary: linear-gradient(to right, #8e69a8, #4e2dab);

$font-main: Almarai,
sans-serif;
$font-roboto: Roboto,
sans-serif;