.header__search {
  width: 41.4rem;
  height: 70%;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  display: none;

  @include responsive(tab-port) {
    width: 98%;
    height: 40%;
  }

  &.active {
    display: block;
  }

  &::after {
    content: '';
    position: fixed;
    background-color: #525c6a33;
    width: 110vw;
    height: 100vh;
    top: -10%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }

  .search {
    &__field {
      width: 100%;
      height: 100%;
      padding: 0rem 1.25rem;
      border-radius: 4px 4px 0 0;
      border-bottom: 1px solid #c0c0c094;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &__btn {
      font-size: 1rem;
      color: #1FB1C6;
    }

    &-close__btn {
      color: #A2AAB5;
      font-size: 1.25rem;
      display: flex;
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translateY(-50%);

      &:hover {
        text-decoration: none;
      }
    }

    &__input {
      border: 0;
      margin: 0 .56rem;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      color: #525C6A;
      background-color: transparent;

      &:focus {
        outline: 0;
      }
    }

    &__calc {
      width: 100%;
      padding: .6rem 1.25rem;
      color: #B6C6E6;
      background-color: #F6F9FF;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.25rem;

      &-icon {}

      &-result {
        margin: 0 .6rem;
      }
    }

    &__results {

      max-height: 21.8rem;
      overflow-y: scroll;
      overflow-x: auto;
      padding: 1.25rem .6rem;

      &-container {
        display: none;
        // margin-top: .5rem;
        // border-radius: 4px;
        background-color: #fff;
        max-height: 25.6rem;
        padding-top: .6rem;
        // padding: 2rem 1rem;
        box-shadow: 0px 1px 2px #0000003d;
      }
    }

    &__result {
      margin-right: 1.6rem;
      margin-bottom: 1.1rem;

      &:not(:last-child) {
        border-bottom: 1px solid #E9E9E9;
      }

      &-title {
        font-size: 1rem;
        color: #8E69A8;
        margin: .7rem 0;
      }

      &-content {
        margin-bottom: .9rem;
      }

      &-item {
        padding: .3rem;
        display: block;
        color: inherit;

        &:hover,
        &.active {
          color: inherit;
          text-decoration: none;
          background-color: #c0c0c033;
        }
      }

      &-none {
        text-align: center;
      }
    }

    &-center-btn {
      width: 90%;
      // padding: 0.8rem;
      margin: 0.3rem auto;
      display: block;
      // text-align: center;
      // border-radius: 4px;
    }

    &__footer {
      color: #fff;
      background-color: #8E69A8;
      display: flex;
      justify-content: space-around;
      font-size: .75rem;
      padding: .6rem .4rem;
      border-radius: 0 0 4px 4px;
    }

    &__hint {
      display: flex;
      align-items: center;

      &-icon {
        margin: 0 .3rem;
        font-weight: bold;
      }
    }

    &__help-link {

      &,
      &:hover {
        color: #FFC9FC;
      }
    }
  }

  /* clears the ‘X’ from Internet Explorer */
  input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the ‘X’ from Chrome */
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}