$header-height: 6rem;

.header {
  height: $header-height;
  background-color: $color-white;
  border-bottom: 2px solid rgba(#000, .1);
  display: flex;
  justify-content: space-between;

  @include responsive(tab-port) {
    flex-wrap: wrap;
    height: 12rem;
  }

  &__btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    // width: 10rem;
    // border-left: 1px solid lighten($color-text, 50%);
    font-size: $header-height * .3;
    color: #525c6a;
    cursor: pointer;
    padding: 0 $header-height * .3;
    padding-top: calc($header-height/2) - 1;

    &.active {
      i {
        font-weight: 700;
      }

      &+.dropdown-content {
        display: block;
        opacity: 1;
      }
    }
  }

  &__settings-btn {
    padding-bottom: calc($header-height/6);
    justify-content: space-between;

    i:last-child {
      font-size: calc($header-height * .19);
    }
  }

  &-btns__container,
  &-tabs__container {


    >ul {

      display: flex;
      margin-left: 4rem;
      height: 100%;

      li {
        display: inline-block;
        position: relative;
      }
    }

    @include responsive(tab-port) {
      width: 100%;

      >ul {
        margin: 0 auto;
      }
    }
  }

  &__profile-btn {
    flex-direction: row;
    padding-top: 0;

    &.active {

      i {
        transform: rotate(180deg);
      }

    }

    .profile {

      &__avatar {
        width: $header-height * .6;
        min-width: $header-height * .6;
        height: $header-height * .6;
        border: 2px solid $color-primary;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
          width: 90%;
          height: 90%;
          border-radius: 50%;
        }

        &--online {
          position: absolute;
          bottom: -3px;
          right: -3px;
          width: 1.7rem;
          height: 1.7rem;
          border-radius: 50%;
          background-color: #fff;
          margin: 0;

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
            height: 60%;
            border-radius: 50%;
            background-color: #35d280;
          }
        }
      }

      &__info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        span {
          margin: 0 ($header-height * .1) 0 ($header-height * .2);
          font-size: $header-height * .2;
        }
      }
    }


    i {
      font-size: $header-height * .2;
      transition: .3s ease;
    }

  }

  &__profile {
    position: relative;

    &>a {
      border-left: 0;
    }

    &-dropdown {
      display: flex;
      flex-direction: column;
      width: 75%;
      min-width: fit-content;
      border-radius: 5px;
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      opacity: 0;
      background-color: $color-secondary;
      transition: .3s ease;

      &.opend {
        opacity: 1;
        z-index: 1;
      }

      &::after {
        content: "";
        position: absolute;
        top: -1rem;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%) rotate(45deg);
        display: block;
        background-color: $color-secondary;
        width: 2rem;
        height: 2rem;
      }

      a {
        width: 100%;
        padding: 2rem;
        text-align: center;
        color: $color-white;
        background-color: transparent;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          background-color: $color-text;
        }

        &:not(:last-child) {
          border-bottom: 1px solid rgba(#fff, .3);
        }

        &:first-child {
          border-radius: 5px 5px 0 0;
        }

        &:last-child {
          border-radius: 0 0 5px 5px;
        }

        i {
          margin-left: 1rem;
        }
      }
    }
  }

  &-tabs {
    &__container {
      width: 50%;
      max-width: 55rem;
      @include flexcenter;
      align-items: flex-end;

      // margin-bottom: 0;
      @include responsive(tab-port) {
        width: 100%;
        max-width: 100%;
      }

      &>div {
        width: 100%;
        @include flexcenter;
        align-items: flex-end;

        height: 100%;
      }

      ul {
        margin: 0;
        overflow: hidden;
        overflow-x: auto;
        display: flex;
        align-items: flex-end;

        &::-webkit-scrollbar {
          height: 0;
        }

        li {
          // height: 70%;
        }
      }
    }

    &__navigation-btn {
      @include flexcenter;
      height: 100%;
      width: 5rem;
      background-color: rgba($color-primary, .1);
      color: $color-primary;
      font-size: 1.7rem;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 15rem;
    font-size: 1.4rem;
    padding: .9rem 1.5rem;
    // padding-bottom: 1.8rem;
    padding-left: 1rem;
    opacity: .7;
    // border: 1px solid rgba($color-text, .08);
    box-shadow: -6px -1px 5px -2px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 2;

    // @include responsive(tab-port) {
    //   width: 10rem;
    // }

    &-label {}

    &-close {
      font-size: 2rem;
    }

    &.active {
      border-bottom: 2px solid $color-primary;
      box-shadow: -2px 3px 8px 5px rgba(0, 0, 0, .1);
      // box-shadow: -2px 3px 8px 5px rgba(0, 0, 0, .1), inset -9px 0px 0px #ffffffb5;
      opacity: 1;
      z-index: 99;

      &-label {
        font-weight: 700;
      }
    }
  }

}

.dropdown-content {
  display: none;
  position: absolute;
  left: .4rem;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 150px;
  -webkit-box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%);
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 20%);
  border: 1px solid #ddd;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;

  &>ul>li {
    position: relative;

    &.brdr-bottom a {
      border-bottom: 1px solid rgba(153, 153, 153, 0.27);
    }

    & a {
      text-align: right;
      cursor: pointer;
      display: flex;
      min-width: 200px;
      text-decoration: none;
      position: relative;
      padding: 5px 10px 5px 10px;
      color: #575756;
      font-size: 14px;
      transition: all ease-in-out 0.3s;

      &:hover {
        color: #C6C6C6;
      }

      i {
        margin-left: 10px;
        font-size: 16px;
        line-height: 25px;
        color: #999;
      }
    }

    & ul {
      position: absolute;
      list-style: none;
      padding: 0;
      top: 0;
      left: 100%;
      max-width: 120px;
      display: none;
      background-color: #f9f9f9;

      & li a {
        display: flex;
        max-width: 120px;
        min-width: auto;
        align-items: center;
        border-bottom: 0;
      }
    }

    &:hover ul {
      display: block;
    }
  }
}

@include responsive(tab-port) {
  .navbar {
    &__logo {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;

      img {
        width: 100%;
        height: 35%;
      }
    }

    &__side-toggle,
    &__support-link,
    &__profile-link {
      border: 0;
    }

    &__profile-link {
      padding: 0;
    }

    &__links {
      margin-left: 1rem;
    }

    &__side-toggle {
      padding-right: 4rem;
      font-size: 3.5rem;
    }

    &__support-link {
      display: flex;
      flex-direction: column;
      background-color: $color-secondary;

      span {
        white-space: nowrap;
      }

      &,
      i {
        color: $color-white;
      }

      i {
        margin-bottom: 1rem;
      }
    }

    &__profile-dropdown {
      left: 85%;
    }
  }
}