main {
  padding-right: 10rem;
  transition: all .3s ease-in-out;

  @include responsive(tab-port) {
    padding-right: 0;
  }

  .content-container {
    width: 100%;
    padding: 1.5rem;
  }

  .show-menu {
    padding-right: 10rem;
  }

  &.shrinked {
    padding-right: 32rem;
    transition: all .3s ease-in-out .1s;
  }
}