body {
  direction: ltr;
  text-align: left;
}

main {
  padding-right: 0;
  padding-left: 10rem;

  &.shrinked {
    padding-right: 0;
    padding-left: 22rem;
  }
}

.sidebar {
  float: left;
}

.main-menu>li>.sub-menu {
  transform: translateX(-$submenu-width);
  left: auto;
  right: 0;
}

.main-menu__item.active+.sub-menu {
  transform: translateX($submenu-width);
}

.sub-menu__item.active::after,
.sub-menu__item:hover::after {
  left: auto;
  right: 0;
}

.header-tabs__container>div {
  flex-direction: row-reverse;
}

.list-indicators__item-indicator {
  margin-right: 0;
  margin-left: 2rem;
}

.dropdown-content>ul>li a i {
  margin-right: 10px;
  margin-left: 0;
}

.dropdown-content {
  left: auto;
  right: .4rem;
}

.notification-container::after {
  left: auto;
  right: 8px;
}

.dropdown-content>ul>li a {
  text-align: left;
}