body {
  direction: ltr;
  text-align: left;
}

main {
  padding-right: 0;
  padding-left: 15rem;

  &.shrinked {
    padding-right: 0;
    padding-left: 40rem;
  }
}

.sidebar {
  float: left;
}

.main-menu>li>.sub-menu {
  transform: translateX(-$submenu-width);
  left: auto;
  right: 0;
}

.main-menu__item.active+.sub-menu {
  transform: translateX($submenu-width);
}

.header-tabs__container>div {
  flex-direction: row-reverse;
}

.list-indicators__item-indicator {
  margin-right: 0;
  margin-left: 2rem;
}