.sidebar {
  width: auto;
  max-width: 10rem;
  height: 100%;
  min-height: 100vh;

  float: right;
  background-color: $color-white;
  border-left: 1px solid lighten($color-text, 50%);
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  @include responsive(tab-port) {
    position: absolute;
    transition: all .4s ease-in-out;
    transform: translateX(-100%);
  }

  &.show-menu {
    transform: translateX(0);
  }

  .logo {
    padding: 2rem;

    &,
    & img {
      width: 100%;

    }
  }
}